@tailwind base;
@tailwind components;
@tailwind utilities;

ul,
ol {
    list-style: none;
}

.div {
    position: relative;
}

@media (max-width:639px) {

    .ul {
        display: none;
        position: absolute;
        right: -20px;
        top: 53px;
        flex-direction: column;
        width: 250px;
        color: black;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 1em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .a-ul {
        display: none;
    }

.a-ol {
    animation: example 1s;
    -webkit-animation: example 1s;
}

@keyframes example {
    0% {
        top: -30px;
        z-index: -1;
        opacity: 0;
    }

    90% {
        z-index: -1;
        opacity: 0.6;
    }


    100% {
        top: 0px;
        z-index: 1;
        opacity: 1;
    }
}

.diveds {
    height: 87vh;
}
}
 

/* I AM GOIN TO MAKE THE SECOND HEADER THE SAME WAY AS THE FIRST HEADER SO IT DOESN'T SHOW EVEN AFTER I'VE CLOSED THE DEVELOPER CONSOLE */